 h1 {
    font-size: 70px;
    text-align: center;
    font-weight: 600;
    background-image: linear-gradient(to left, #553c9a, #b393d3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }
  img{
    display: block;
    margin: 0 auto;
    width: 15%;
  }

input{
    align-items: center;
    align-content: center;
text-align: center;
font-size: medium;
margin-left: 43%;
}

    